* {
  text-align: center;
  font-size: 1rem;
}

header,
main {
  text-align: center;
}

.btns {
  height: 10em;
  width: 10em;
  margin: 2em;
  border-radius: 20px;
  font-size: larger;
}

input {
  width: 40vw;
  border: solid black 1px;
}

#formContainer * {
  box-sizing: border-box;
  width: 20em;
  margin: 1em;
}

/* (A) WRONG ORIENTATION - SHOW MESSAGE HIDE CONTENT */
@media only screen and (orientation: landscape) {
  #turn {
    display: block;
    text-align: center;
    margin-top: 40vh;
  }
  #container {
    display: none;
  }
}

/* (B) CORRECT ORIENTATION - SHOW CONTENT HIDE MESSAGE */
@media only screen and (orientation: portrait) {
  #turn {
    display: none;
  }
  #container {
    display: block;
  }
}
